---
import { ASSETS, SITE } from "../../data/site";
---

<a
  id="desktop-brand-logo"
  href="#home"
  class="hidden md:flex fixed top-6 left-8 z-50 items-center select-none transition-all duration-700 ease-in-out hover:scale-105 hover:opacity-90"
>
  <img src={ASSETS.logoWide} alt={SITE.name} class="w-42 h-auto drop-shadow-xl" />
</a>
